<settings>
<server>
      <id>nexus</id>
      <username>jenkins</username>
      <password>admin@123</password>
</server>

<profiles>
        <profile>
          <repositories>
            <repository>
                    <id>nexus</id>
                    <name>Maven-Hosted</name>
                    <url>http://34.236.152.13:8081/repository/Maven-Hosted/</url>
            </repository>
          </repositories>
        </profile>
</profiles>
</settings>


